@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@300&display=swap');
:root {
    --primary: #2bffab;
    
    --start-color: #2bffab;
    --end-color: #F9CB28;
		--start-color-2: #7928CA;
    --end-color-2: #FF0080;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #131313;
    font-family: 'Poppins', sans-serif;
}
.top_card {
    background-color: #19191A;
    height: 13rem;
    width: 100%;
    border-bottom: 0.5px solid #333;
}
.top_card h1 {
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-size: 50px;
    color: var(--primary);
    padding-top: 3.5rem;
}
.top_card p {
    color: hsla(0, 0%, 84%, 0.7);
    text-align: center;
    padding: 1rem;
}
.content {
    padding-top: 1rem;
    margin: 0 20px;
}
.content .title-1 {
    color: var(--primary);
    text-align: center;
}
.navbar {
    position: absolute;
    background: #191919;
    height: 17rem;
    width: 12rem;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right-color: 2px solid #333;
    border-radius: 0px 0px 12px 0px;
    transition: 0.5s;
    opacity: 0;
}
.nav_active {
    opacity: 1;
}
.navbar
.navbar h1 {
    text-align: center;
    padding-top: 5px;
}
.navbar .top {
    position: relative;
    top: 0;
    background: #191919;
    border-bottom: 1px solid #333;
    height: 2rem;
}
.navbar .top p {
    color: white;
    margin: 0px 5px;
    font-family: 'Nerko One', cursive;
    font-size: 24px;
}
.navbar .links {
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.navbar .links a {
    text-decoration: none;
    color: hsla(0, 0%, 84%, 0.7);
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 20px;
    transition: 0.3s;
}
.navbar .links a:hover {
    color: var(--primary);
}
.menu {
    color: white;
    float: right;
    margin: 1rem 1rem;
    font-size: 25px;
    display: block;
    transition: 0.5s;
    color: hsla(0, 0%, 84%, 0.7);
}
.menu-1 {
    display: none;
}
.about {
    color: white;
    float: left;
    margin: 1rem 1rem;
    font-size: 25px;
    display: block;
    transition: 0.5s;
    color: hsla(0, 0%, 84%, 0.7);
}

.shine {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-45deg , #007CF0, #00DFD8, var(--start-color-2), var(--end-color-2), var(--start-color), var(--end-color));
		animation: gradient 5s ease-in-out infinite;
		background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
